

<form action="/places" method="post">
  <p>
    <label for="name">Location</label>
    <input type="text" name="name">
  </p>

   <p>
    <label for="posted_on">Date</label>
    <input type="date" name="posted_on">
  </p>

  <p>
    <label for="description">Description</label>
    <input type="text" name="description">
  </p>

  <button>Submit</button>
</form>